@charset "UTF-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

body {
	background-color:#333;
	margin:auto;
	width:auto;
	height:768px;
	background-image:url(tile.gif);
	background-repeat:repeat;
	/*vertical-align:middle;*/
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
}

a {
	color:#FFF;
}

img, table {
	border: none;
	padding:0px;
	margin:0px;
}

#instructions {
	margin-left:20px;
	font-size:12px;
	color:#FFF;
	text-align:left;
}